<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{HtmlWebpackPlugin.option.title}}</title>
</head>
<body>
    {{> "./src/templates/map.hbs"}}
    {{> "./src/templates/form.hbs"}}
</body>
</html>
