<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.option.title}}</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=60d19a17-132f-4708-a2ff-ce4a6ee4ab90&lang=ru_RU" type="text/javascript"></script>
</head>
</html>
