<form class="balloon__form" action="#" data-role="review-form">
    <label>
        <input class="input__info" data-role="review-name" type="text" maxlength="50"
               placeholder="Укажите ваше имя">
    </label>
    <label>
        <input class="input__info" data-role="review-place" type="text" maxlength="50"
               placeholder="Укажите место">
    </label>
    <label>
        <textarea class="input__info input__review" data-role="review-text" name="review" maxlength="500"
                  cols="30" rows="10" placeholder="Оставить отзыв"></textarea>
    </label>
    <button class="balloon__form-button" data-role="review-add" type="submit">Добавить</button>
    <span class="form-error"></span>
</form>
